# Copyright (c) 2025 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

config BUILD_OUTPUT_BIN
	default y if BOARD_RCAR_SPARROW_HAWK_R8A779G3_R52
	default y if BOARD_RCAR_SPARROW_HAWK_R8A779G3_A76
